apiVersion: v2
description: A Helm chart for civil-camunda App
name: civil-camunda
home: https://github.com/hmcts/civil-camunda-bpmn-definition
version: 0.0.15
maintainers:
  - name: HMCTS Civil team

dependencies:
  - name: java
    version: 4.0.13
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: ccd
    version: 8.0.23
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    tags:
      - civil-ccd-stack
  - name: xui-webapp
    version: ~0.2.16
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: ~2.3.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: camunda-bpm
    version: 0.0.28
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: camunda-bpm.enabled
