apiVersion: v2
description: A Helm chart for civil-camunda App
name: civil-camunda
home: https://github.com/hmcts/civil-camunda-bpmn-definition
version: 0.0.27
maintainers:
  - name: HMCTS Civil team

dependencies:
  - name: java
    version: 5.3.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
  - name: ccd
    version: 8.0.29
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    tags:
      - civil-ccd-stack
  - name: xui-webapp
    version: ~1.0.8
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: ~2.3.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: camunda-bpm
    version: 0.0.28
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: camunda-bpm.enabled
  - name: aac-manage-case-assignment
    version: ~0.2.13
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: aac-manage-case-assignment.enabled
  - name: wiremock
    version: 0.0.5
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: wiremock.enabled
  - name: civil-general-applications
    version: 0.0.64
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-general-applications.enabled
