tags:
  civil-ccd-stack: false

idam-pr:
  enabled: false

xui-webapp:
  enabled: false

camunda-bpm:
  enabled: false

java:
  applicationPort: 4000
  image: 'hmctspublic.azurecr.io/civil/service:latest'
  aadIdentityName: civil
  environment:
    SERVICE_REQUEST_UPDATE: https://civil-camunda-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/service-request-update
    SERVICE_REQUEST_UPDATE_CLAIM_ISSUED: https://civil-camunda-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/service-request-update-claim-issued
    EM_CCD_ORCHESTRATOR_URL: http://em-ccd-orchestrator-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    HMC_HEARINGS_SUBSCRIPTION_ENABLED: false
    CIVIL_S2S_AUTHORISED_SERVICES: payment_app,ccd_data,civil_service,civil-citizen-ui
  keyVaults:
    civil:
      resourceGroup: civil
      secrets:
        - civil-idam-client-secret
        - microservicekey-civil-service
        - system-update-user-username
        - system-update-user-password
        - AppInsightsInstrumentationKey
        - docmosis-api-key
        - gov-notify-api-key
        - sendgrid-api-key
        - robotics-notification-sender
        - robotics-notification-recipient
        - robotics-notification-recipient-spec
        - launch-darkly-sdk-key
        - notification-caseworker-spec-receiver
        - ordnance-survey-api-key
        - robotics-notification-multipartyrecipient
