name: Check bpmn processes have been linted
on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  lint:
    if: "!contains(github.event.pull_request.head.ref, 'renovate') && !contains(github.event.pull_request.head.ref, 'dependabot')"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Check processes have name
      uses: mikefarah/yq@master
      with:
        cmd: >
          for file in src/main/resources/camunda/*.bpmn;
          do
            if ! yq -oy -e -p xml '.definitions.process.+@name' "$file";
            then
              echo "Process $file does not have a name" >&2;
              exit 1;
            fi;
          done
